
html{
   font-size: 20px;
}
a:hover{
    text-decoration: none;
    color: #000000;
}
body{
    font-size: 1rem;
    background: url(../image/bg/brick-wall.png) repeat;
}

.nav-tabs{
    border-bottom: none;
    font-weight: bold;
}

#myTabContent .tab-pane{
    margin: 1em 1em;
}

#myTabContent li{
    width: 11.5rem;
    height: 9rem;
    border-bottom: 1px solid black;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.67);
}

/*悬停的效果*/
#myTabContent li:hover,.left_pane .panel-heading:hover{
    color: #000;
    background-color: #9a979c;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#myTabContent li  .web-content  .web-content-top{
    width: 12rem;
    height: 6rem;
}

#myTabContent li  .web-content  .web-content-top .web-logo,#myTabContent li  .web-content  .web-content-top .web-name{
    float: left;
    margin: 0.4rem auto;
}

#myTabContent li  .web-content  .web-content-top .web-logo{
    margin: 0.4rem auto;
}

#myTabContent li  .web-content  .web-content-top .web-name{
    line-height: 4.2rem;
    text-align: center;
    font-weight: bold;
    width: 7rem;
}

#myTabContent li  .web-content  .web-content-bottom {
    border-radius: 10px;
}

@media only screen and (max-width: 960px) and (min-width: 830px){
    #myTabContent li{
        width: 10rem !important;
        height:9rem;
        border-bottom: 1px solid black;
        list-style: none;
        border-radius: 10px;
        box-shadow: 0 7px 8px rgba(0, 0, 0, 0.67);
        float: left;
    }


    #myTabContent li  .web-content  .web-content-top{
        width: 10rem;
        height: 6rem;
    }


    #myTabContent li  .web-content  .web-content-top .web-name{
        line-height: 4.2rem;
        text-align: center;
        font-weight: bold;
        width: 5rem;
        float: left;
    }
}

@media only screen and (max-width: 825px) and (min-width: 540px){
    #myTabContent li{
        width: 9rem !important;
        height:9rem;
        border-bottom: 1px solid black;
        list-style: none;
        border-radius: 10px;
        box-shadow: 0 7px 8px rgba(0, 0, 0, 0.67);
        float: left;
    }


    #myTabContent li  .web-content  .web-content-top{
        width:9rem;
        height: 6rem;
    }


    #myTabContent li  .web-content  .web-content-top .web-name{
        line-height: 4.2rem;
        text-align: center;
        font-weight: bold;
        width: 3rem;
        font-size: 16px;
        float: left;
    }
}

@media only screen and (max-width: 450px){

    #myTabContent li{
        width: 4.0rem !important;
        height:13rem;
        border-bottom: 1px solid black;
        list-style: none;
        border-radius: 10px;
        box-shadow: 0 7px 8px rgba(0, 0, 0, 0.67);
        margin-left: 20px;
        float: left;
    }

    #myTabContent li  .web-content  .web-content-top{
        width:4.0rem;
        height:3rem;
    }

    #myTabContent li  .web-content  .web-content-top .web-name{
        line-height:20%;
        text-align: center;
        font-weight: bold;
        width:4.0rem;
        height:1rem;
        font-size: 14px;
        color: #079c49;
    }

    #myTabContent li  .web-content  .web-content-bottom .web-desc{
        text-align: center;
        font-weight: bold;
        width:4.0rem;
        height:4rem;
    }
}

@media only screen and (max-width: 380px) and (min-width: 360px){
    .container-fluid #header{
        width: 300px;
        height: 60px;
    }
    .container-fluid #header li{
        width: 60px;
        height: 60px;
    }
    /*专门针对该屏幕大小写的*/
    #whatilikes-tab{
        width: 119px;
        height: 78px;
        line-height: 60px;
    }

    #myTabContent li{
        width: 3.6rem !important;
        height:13rem;
        border-bottom: 1px solid black;
        list-style: none;
        border-radius: 10px;
        box-shadow: 0 7px 8px rgba(0, 0, 0, 0.67);
        margin-left: 3px;
        float: left;
    }

    #myTabContent li  .web-content  .web-content-top{
        width:3.6rem;
        height:3rem;
    }

    #myTabContent li  .web-content  .web-content-top .web-name{
        line-height:20%;
        text-align: center;
        font-weight: bold;
        width:3.6rem;
        height:1rem;
        color: #079c49;
    }

    #myTabContent li  .web-content  .web-content-bottom .web-desc{
        text-align: center;
        font-weight: bold;
        width:3.6rem;
        height:4rem;
    }
}

@media only screen and (max-width: 360px) and (min-width: 340px){
    .container-fluid #header{
        width: 300px;
        height: 60px;
    }
    .container-fluid #header li{
        width: 60px;
        height: 60px;
    }
    /*专门针对该屏幕大小写的*/
    #whatilikes-tab{
        width: 119px;
        height: 78px;
        line-height: 60px;
    }

    #myTabContent li{
        width: 3.6rem !important;
        height:13rem;
        border-bottom: 1px solid black;
        list-style: none;
        border-radius: 10px;
        box-shadow: 0 7px 8px rgba(0, 0, 0, 0.67);
        margin-left: 14px;
        float: left;
    }

    #myTabContent li  .web-content  .web-content-top{
        width:3.6rem;
        height:3rem;
    }

    #myTabContent li  .web-content  .web-content-top .web-name{
        line-height:20%;
        text-align: center;
        font-weight: bold;
        width:3.6rem;
        height:1rem;
        color: #079c49;
    }

    #myTabContent li  .web-content  .web-content-bottom .web-desc{
        text-align: center;
        font-weight: bold;
        width:3.6rem;
        height:4rem;
    }
}

@media only screen and (max-width: 340px) and (min-width: 300px){

    .container-fluid #header{
        width: 300px;
        height: 60px;
    }
    .container-fluid #header li{
        width: 60px;
        height: 60px;
    }

    /*专门针对该屏幕大小写的*/
    #whatilikes-tab{
        width: 119px;
        height: 78px;
        line-height: 60px;
    }

    #myTabContent li{
        width: 3.4rem !important;
        height:13rem;
        border-bottom: 1px solid black;
        list-style: none;
        border-radius: 10px;
        box-shadow: 0 7px 8px rgba(0, 0, 0, 0.67);
        margin-left: 12px;
        float: left;
    }

    #myTabContent li  .web-content  .web-content-top{
        width:3.4rem;
        height:3rem;
    }

    #myTabContent li  .web-content  .web-content-top .web-name{
        line-height:27%;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        width:3.4rem;
        height:1rem;
        color: #079c49;
    }

    #myTabContent li  .web-content  .web-content-bottom .web-desc{
        text-align: center;
        font-weight: bold;
        width:3.4rem;
        height:4rem;
    }
}